configuration {
  modi: "window,drun,ssh,combi";
  theme: "Pop-Dark";
  padding: 5;
  bw: 0;
  show-icons: true;
  hide-scrollbar: true;
  font: "Fira Code 12";
  combi-modi: "window,drun,ssh";
}
@import "/usr/share/rofi/themes/Pop-Dark.rasi"
