#!/bin/bash

# Set computer specific things here.

export POLYBAR_BACKLIGHT_CARD=acpi_video0 # or intel_backlight
export POLYBAR_BATTERY=BAT1
export POLYBAR_BATTERY_ADAPTER=ACAD
export POLYBAR_MONITOR=$(xrandr -q | grep " connected" | cut -d ' ' -f1)
export POLYBAR_NETWORK_IFACE=wlan0 # or eth0, enp4s0f0
